{% extends 'home/base.html' %}
{% block content %}
    {% for paper in papers %}
        {#    <article>#}
        {#        <time>published: {{ paper.published_date }}</time>#}
        {#        <h2><a href="">{{ paper.title }}</a></h2>#}
        {#        <p>{{ paper.description|linebreaksbr }}</p>#}
        {#    </article>#}


        <div class="card">
            <div class="card-header">
                <time>published: {{ paper.published_date }}</time>
            </div>
            <div class="card-body">
                <h2><a href="{% url 'post_detail' pk=paper.pk %}">{{ paper.title }}</a></h2>
                <p>{{ paper.description|linebreaksbr }}</p>
            </div>
            <div class="card-footer text-muted">
                <time>created on: {{ paper.created_date }}</time>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}